<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>READ</title>
</head>
<body>
    <h3>Board Read</h3>
    <input type="text" th:value="${board.id}" readonly />
    <input type="text" th:value="${board.title}" readonly />
    <textarea readonly>[[${board.content}]]</textarea>
    <input type="text" th:value="${board.writer}" readonly />
    <input type="text" th:value="${#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly />
    <input type="text" th:value="${#temporals.format(board.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly />
    <!-- th:with를 이용해서 PageRequestDTO의 getLink()를 활용하여 버튼에 필요한 링크를 변수로 저장한다 -->
    <!-- 페이지, 검색조건이 유지된 채로 목록에서 조회, 조회에서 목록으로 이동 가능하다 -->
    <div th:with="link = ${pageRequestDto.getLink()}">
        <a th:href="|@{/board/list}?${link}|">BoardList</a>
        <a th:href="|@{/board/modify(id=${board.id})}?${link}|">Modify</a>
    </div>
    <!-- 첨부파일 이미지 표시 -->
    <div th:if="${board.fileNames != null && board.fileNames.size() > 0}">
        <img th:each="fileName : ${board.fileNames}" th:src="|/files/view/${fileName}|" />
    </div>
</body>
</html>