<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>READ</title>
    <style>
        .modal-container, .modal-read-container {
            background-color: #fff;
            border: 1px solid grey;
            position: fixed;
            top: 0px;
            left: 0px;
            display: none;
        }
    </style>
</head>
<body>
    <h3>Board Read</h3>
    <input type="text" th:value="${board.id}" readonly />
    <input type="text" th:value="${board.title}" readonly />
    <textarea readonly>[[${board.content}]]</textarea>
    <input type="text" th:value="${board.writer}" readonly />
    <input type="text" th:value="${#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly />
    <input type="text" th:value="${#temporals.format(board.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly />
    <!-- th:with를 이용해서 PageRequestDTO의 getLink()를 활용하여 버튼에 필요한 링크를 변수로 저장한다 -->
    <!-- 페이지, 검색조건이 유지된 채로 목록에서 조회, 조회에서 목록으로 이동 가능하다 -->
    <div th:with="link = ${pageRequestDto.getLink()}">
        <a th:href="|@{/board/list}?${link}|">BoardList</a>
        <a th:href="|@{/board/modify(id=${board.id})}?${link}|">Modify</a>
    </div>
    <!-- 첨부파일 이미지 표시 -->
    <div th:if="${board.fileNames != null && board.fileNames.size() > 0}">
        <img th:each="fileName : ${board.fileNames}" th:src="|/files/view/${fileName}|" />
    </div>
    <!-- 댓글 섹션 -->
    <div class="reply-container">
        <button class="btn-reply">REPLY</button>
        <h3>Reply List</h3>
        <!-- 댓글 목록 -->
        <ul class="reply-list"></ul>
        <!-- 댓글 페이지네이션 -->
        <ul class="reply-pagination"></ul>
    </div>
    <!-- 댓글 등록 모달 -->
    <div class="modal-container">
        <div class="modal-content">
            <h3>Reply Register</h3>
            <input type="text" class="reply-text" placeholder="reply-text" />
            <input type="text" class="reply-writer" placeholder="reply-writer" />
            <button type="button" class="btn-register">REGISTER</button>
            <button type="button" class="btn-close">CLOSE</button>
        </div>
    </div>
    <!-- 댓글 조회 모달 -->
    <div class="modal-read-container">
        <div class="modal-read-content">
            <h3>Reply Read</h3>
            <h5 class="reply-header"></h5>
            <input type="text" class="modify-reply-text" placeholder="reply-text" />
            <button type="button" class="btn-modify-reply">MODIFY</button>
            <button type="button" class="btn-remove-reply">REMOVE</button>
            <button type="button" class="btn-close-reply">CLOSE</button>
        </div>
    </div>

    <!-- Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/reply.js"></script>
    <script th:inline="javascript">
        const boardId = [[${board.id}]];
        const replies = document.querySelector('.reply-list');

        // 댓글 조회
        // 특정 댓글을 눌렀을 때, 댓글 정보 모달 창을 보여준다
        // 댓글 목록도 매번 새롭게 구성하므로 이벤트를 처리할 때는 항상 존재하는 바깥쪽 <ul>을 대상으로 처리
        const replyHeader = document.querySelector('.reply-header');
        const modifyReplyText = document.querySelector('.modify-reply-text');
        replies.addEventListener('click', (e) => {
            e.preventDefault();
            e.stopPropagation();

            // 현재 댓글 목록이 <span>으로 만들어져 있다
            const target = e.target;
            if (!target || target.tagName != 'SPAN') {
                return;
            }

            // 댓글 내용 <span>에는 <span data-reply-id="1"> 가 입력되어 있다
            // 만약, <span>을 눌렀지만 data-reply-id 값이 없다면 코드를 종료한다
            const replyId = target.getAttribute('data-reply-id');
            if (!replyId) {
                return;
            }

            // 댓글의 내용을 모달창에 채워서 보내줌
            getReply(replyId).then(response => {
                replyHeader.innerHTML = response.data.id;
                modifyReplyText.value = response.data.text;

                // 댓글 정보 모달창 열기
                const readModal = document.querySelector('.modal-read-container');
                readModal.style.display = 'block';
            });
        }, false);

        // 댓글 정보 모달창 닫기
        const btnCloseReply = document.querySelector('.btn-close-reply');
        btnCloseReply.addEventListener('click', function () {
            const readModal = document.querySelector('.modal-read-container');
            readModal.style.display = 'none';
        });

        // 댓글 목록 출력: 현재 페이지가 열리면 바로 댓글 목록을 호출한다
        // 댓글의 마지막 페이지를 바로 보고 싶다면 getReplies(1, 10, true)
        getReplies(1, 10);

        // 현재 페이지가 로딩되면 댓글 목록을 호출 (Axios)
        function getReplies(page, size, goLast) {
            getList({boardId, page, size, goLast}).then(response => {
                // 댓글 목록을 DOM에 출력
                printReplies(response.dtoList);
                // 댓글 페이지 번호를 DOM에 출력
                printPagination(response);
            })
            .catch(e => {
                console.error(e);
            });
        }

        // 댓글 목록을 DOM에 출력
        const replyList = document.querySelector('.reply-list');
        function printReplies(dtoList) {
            let str = '';
            if (dtoList && dtoList.length > 0) {
                for (const dto of dtoList) {
                    str += '<li class="reply-item">';
                    str += `  <span>${dto.id}</span>`;
                    str += `  <span data-reply-id="${dto.id}">${dto.text}</span>`;
                    str += `  <span>${dto.writer}</span>`;
                    str += `  <span>${dto.regDate}</span>`;
                    str += '</li>';
                }
            }
            replyList.innerHTML = str;
        }

        // 댓글의 페이지 번호 목록을 댓글 페이지번호 DOM에 출력
        const replyPagination = document.querySelector('.reply-pagination');
        function printPagination(data) {
            let pageStr = '';

            // 이전 버튼
            if (data.prev) {
                pageStr += `<li>`;
                pageStr += `  <a data-page="${data.start - 1}">prev</a>`;
                pageStr += `</li>`;
            }
            // 페이지 번호 목록
            for (let i = data.start; i <= data.end; i++) {
                pageStr += `<li class="${i == data.page ? "active" : ""}">`;
                pageStr += `  <a data-page="${i}">${i}</a>`;
                pageStr += `</li>`;
            }
            // 다음 버튼
            if (data.next) {
                pageStr += `<li>`;
                pageStr += `  <a data-page="${data.end + 1}">next</a>`;
                pageStr += `</li>`;
            }

            replyPagination.innerHTML = pageStr;
        }

        // 댓글 번호를 누르면 해당 댓글 페이지로 이동
        // page와 size를 별도의 변수로 처리한 것은 댓글 수정과 같은 작업에서 현재 페이지 번호를 유지해야 하기 때문이다
        let page = 1;
        let size = 10;

        // 페이지 번호는 매번 새로이 번호를 구성하므로 이벤트를 처리할 때는 항상 고정되어 있는 <ul>을 대상으로 처리
        replyPagination.addEventListener('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            const target = e.target;
            if (target.tagName != 'A') {
                return;
            }

            const pageNum = target.getAttribute('data-page');
            page = pageNum;

            // 댓글 목록 재호출
            getReplies(page, size);
        }, false);

        // 댓글 등록 모달 열기
        const btnReply = document.querySelector('.btn-reply');
        btnReply.addEventListener('click', (e) => {
            const modal = document.querySelector('.modal-container');
            modal.style.display = 'block';
        }, false);

        // 댓글 등록 모달 닫기
        const btnClose = document.querySelector('.btn-close');
        btnClose.addEventListener('click', (e) => {
            const modal = document.querySelector('.modal-container');
            modal.style.display = 'none';
        }, false);

        // 댓글 등록
        // [REGISTER] 버튼을 눌렀을 때, reply.js의 addReply()를 호출하고 메세지창을 통해서 추가된 댓글의 번호를 보여줌
        // 메시지창이 닫히면 댓글의 마지막 페이지를 다시 호출해서 등록된 댓글이 화면에 보일 수 있도록 구성
        const btnRegister = document.querySelector('.btn-register');
        const replyText = document.querySelector('.reply-text');
        const replyWriter = document.querySelector('.reply-writer');
        btnRegister.addEventListener('click', function (e) {
            const data = {
                boardId: boardId,
                text: replyText.value,
                writer: replyWriter.value
            };

            addReply(data).then(response => {
                // 등록된 댓글의 id 출력
                alert('등록 댓글 id: ' + response.data.id);

                // 댓글 등록 모달 닫기
                const modal = document.querySelector('.modal-container');
                modal.style.display = 'none';

                // 댓글 작성란 초기화
                replyText.value = '';
                replyWriter.value = '';

                // 댓글 목록 갱신
                getReplies(1, 10);
            })
            .catch(e => {
                console.log('exception');
            });
        }, false);
    </script>
</body>
</html>